AI_KEY=<Fill This>
AI_URL=https://api.openai.com/v1
AI_MODEL=gpt-4o-mini
SUPABASE_URL=<Fill This>
SUPABASE_KEY=<Fill This>
EMBEDDING_MODEL=text-embedding-ada-002
POP_CHOICE_UI_URL=http://localhost:7070